@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

$liter: 'Liter';

.slogan{
  font-size: 0.7em;
  font-family: $liter;
} 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";