<footer class="mt-5 border-top border-3">
    <section class="pt-3">
        <p>Nom de la societe: <strong class="fw-normal">Stubborn</strong></p>
        <address>
            <p>Adresse: Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
            <a>Addresse de contact: stubborn@blabla.com</a>
        </address>
        <p>Slogan:<strong class="fw-normal">Don't compromise on your look</strong> </p>
    </section>
</footer>